.main-navbar {
  display: none;
}
.main-area {
  position: fixed;
  width: 100%;
}
.main-content {
  background-color: #f4f3ef;
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  overflow: auto;
}
.card {
  margin: 30px 20px 30px 20px;
}
.card .card-content {
  padding: 15px 15px 10px;
}
.c-box {
  width: 100%;
  padding: 20px;
}
.c-box.title {
  padding: 7px;
  font-weight: 600;
}
.c-box.icon {
  padding: 20px;
  margin: auto;
  border-top: 1px solid #ccc;
  text-align: center;
}
.c-box.total {
  border-top: 1px solid #ccc;
  padding: 7px;
  font-weight: 600;
  text-align: right;
  color: gray;
}
.c-box.data {
  padding: 10px;
  margin: auto;
  height: 250px;
  margin-bottom: 15px;
}
#dashIcon {
  width: 70%;
  height: 70%;
  opacity: 0.5;
}
canvas {
  height: 250px;
}

/* USERS */
.home-banner-row {
  height: 80vh;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home-banner-row.left {
  margin-right: 3%;
  margin-left: 2%;
}
.title-back {
  padding: 5px 30px;
  width: 100%;
}
#title-icon {
  width: 30px;
  height: 30px;
  float: left;
  margin: 15px;
}
.title-name,
.title-left {
  padding: 15px;
}
.container {
  margin-bottom: 40px;
  width: 100%;
}
.userListBox {
  margin-top: 8px;
  width: 100%;
  height: 80%;
  overflow: scroll;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px;
}
.userListBox::-webkit-scrollbar {
  width: 3px;
}
.userListBox::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #00adb5;
  border-radius: 10px;
}
.userListBox::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  background-color: #ccc;
}
.userListBox {
  cursor: pointer;
}
.userListTbl,
.userInfoTbl {
  border: 1px solid #ccc;
  width: 100%;
  margin: auto;
}
.userListTbl thead {
  background: rgb(230, 230, 230);
  width: 100%;
  border-top: 1px solid #939597;
  border-bottom: 1px solid #939597;
}
.userListTbl tbody {
  width: 100%;
}
.userListTbl thead tr {
  text-align: center;
  font-weight: 600;
}
.userListTbl tbody tr {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.userListTbl th {
  padding: 0.1rem;
  font-weight: 200;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.userInfoTbl th {
  font-weight: 400;
  padding: 8px 0 8px 15px;
  background: rgb(230, 230, 230);
}
.userInfoTbl tr {
  border-bottom: 1px solid #ccc;
}
.userInfoTbl td {
  padding-left: 15px;
}
.delBtn {
  background: #eee;
  padding: 3px 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  float: right;
  margin: 15px 0;
}
